body {
    background-image: url('https://github.com/Vermont02/FOsSoftwareWeb/releases/download/ZIPS/P5230469.JPG');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
h1 {
    text-align: center;
    font-family: Tahoma;
    font-size: xx-large;
}
p {
    text-align: center;
    font-family: Tahoma;
    font-size: xx-large;
}
.cent {
text-align: center;
}
.button {
    width: 75px;
    height: 37.5px;
    font-size: large;
    font-family: Tahoma;
}
.buttonsmall {
    font-family: Tahoma;
}
.space {
    margin-bottom: 7em; 
}
.frame {
    border: none;
    height: 300px; width: 200px;
    text-align: center;
}
.sspace {
    margin-bottom: 3.5em;
    text-align: center;
    text-decoration: none;
    border: none; 
    outline: none;
}
small {
    text-align: center;
    font-family: Tahoma;
    font-size: medium;
}
.spaceup {
    margin-top: 7em;
    text-align: center; 
}
.hidelink {
    height: 0px;
    width: 0px;
    overflow: hidden;
}
.sspace a {
    display: inline-block;  
    border: none;
    margin: 0;              
    padding: 0;             
    outline: none;          
    text-decoration: none;  
}
.left {
    font-size: 5vw;
    background-color: gray;
    border: 3px inset;
    display: inline-block;
    margin-right: 73em;

}
.right {
    margin-left: 73em;
    border-radius: 8px;
    border: 3px inset;

}



