body {
    background-color: black;
    background-image: url('https://github.com/Vermont02/FOsSoftwareWeb/releases/download/ZIPS/P5230469.JPG');
    background-repeat: space;
    background-attachment: scroll;
    background-size: cover;
    margin: 0;
    padding: 0;
    cursor: url('https://github.com/Vermont02/FOsSoftwareWeb/releases/download/ZIPS/cursor.svg'), auto;
}
h1 {
    text-align: center;
    font-family: Tahoma;
    font-size: xx-large;
}
p {
    text-align: center;
    font-family: Tahoma;
    font-size: xx-large;
}
.cent {
text-align: center;
}
.button {
    width: 75px;
    height: 37.5px;
    font-size: large;
    font-family: Tahoma;
}
.buttonsmall {
    font-family: Tahoma;
}
.space {
    margin-bottom: 7em;
}
.frame {
    border: none;
    height: 300px; width: 200px;
    text-align: center;
}
.sspace {
    margin-bottom: 3.5em;
    text-align: center;
    text-decoration: none;
    border: none; 
    outline: none;
}
small {
    text-align: center;
    font-family: Tahoma;
    font-size: medium;
}
.spaceup {
    margin-top: 7em;
    text-align: center; 
}
.hidelink {
    height: 0px;
    width: 0px;
    overflow: hidden;
}
.sspace a {
    display: inline-block;  
    border: none;
    margin: 0;              
    padding: 0;             
    outline: none;          
    text-decoration: none;
}
.left {
    background-color: gray;
    border: 3px inset;
    display: inline-block;
    margin-right: 73vw;
}
.right {
    margin-left: 73vw;
    border-radius: 8px;
    border: 3px inset;
} 
#window {
    position: absolute;
    z-index: 9;
    background-color: transparent;
    text-align: center;
    font-family: Tahoma;
}
#windowHeader {
    padding: 10px;
    z-index: 10;
    background-color: transparent;
    font-family: Tahoma;
}
#window p {
    margin: 0;
    padding: 15px;
    background: transparent;
    text-align: center;
    font-family: Tahoma;
}
.backbtn {
    margin-top: 3em;
    margin-left: 3em;
    cursor: wait;
}


  


