body {
    background-image: url('P5230469.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
h1 {
    text-align: center;
    font-family: Tahoma;
    font-size: xx-large;
}
p {
    text-align: center;
    font-family: Tahoma;
    font-size: xx-large;
}
.cent {
text-align: center;
}
.button {
    width: 75x;
    height: 37.5px;
    font-size: large;
    font-family: Tahoma;
}
.buttonsmall {
    font-family: Tahoma;
}
.space {
    margin-bottom: 7em; 
  }
