body {
	background-color: black;
	color: lime;
	font-family: monospace;
} 
input {
	background-color: black;
	color: lime;
	outline: none;
	border: none;
}
textarea {
	background-color: black;
	color: lime;
	outline: none;
	resize: none;
	border: none;
}
.terminalLog {
	height: 590px;
	width: 500px;
	resize: none;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
} 
.terminalLog::-webkit-scrollbar {
	width: 0px;
}
input, textarea {
    caret-color: transparent;
}

