body {
	background-color: black;
	color: lime;
	font-family: monospace;
} 
input {
	background-color: black;
	color: lime;
	outline: none;
	border: none;
}
textarea {
	background-color: black;
	color: lime;
	outline: none;
	resize: none;
	border: none;
}
.terminalLog {
	height: 590;
	width: 500;
	resize: none;
}
